body
{
    width: 100%;
    margin: 0%;
    background-color: #aab5a3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
main
{
    width: auto;
    margin: 1.7%;

}

#website-header
{
    background-color: #334521;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header
{
    color: #bec6b8;
}
#header_icon
{
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.fa-pasted-svg
{
  width: 10%;
  padding: 3%;
  display: flex;
  align-self: center;
}
.header h2
{
    margin: 0.83em;
}
nav ul
{
   float: right;
   list-style: none;
}
nav li
{
    display: flex;
    justify-content: center;
    padding-right: 0%;
}
nav > a 
{
    color: #bec6b8;
}
.fa-hand-holding-heart
{
    margin: 10%;
}
#middle_section
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
p
{
    font-size: 110%;
}
article
{
    width: 75%;
}
figure
{
    margin: 0;
}
#armistice_img
{
    width: 100%;
}

#list_countries ul
{
    display: inline-block;
    padding-inline-end: 40px;
}
.details
{
    margin: 1%;
}
.details summary
{
    font-size: 125%;
    font-weight: bold;
}
.history_allies details
{
    margin-top: 2%;
}
/* 
 .symbols > img, p 
{
    display: inline-block;
}
.symbols > img
{
    float: left;
}
.symbols > p
{
    float: right;
}
*/
#poppy_history img
{
    width: 50%;
}
#bleuet_history img
{
    width: 25%;
}
#natalie_ramonda img
{
    width: 25%;
}
aside
{
  width: auto;
  height: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #333300;
  background-color: #bec6b8;
  padding: 3%;
}
#list_contents
{
    display: flex;
    flex-direction: column;
}
 #list_contents > a 
{
    color: black;
    text-decoration: solid;
    font-weight: bolder;
    margin-bottom: 5%;
}
a:hover 
{
    cursor: pointer;
    color: darkblue;
}
#footer
{
    background-color: #334521;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 3%;
}



